<html>

<head>
#*
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css"></link>
*#


    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
    <script src="/static/js/list.js"></script>
    <meta charset="UTF-8"/>
</head>
<body>

   <ul class="list-group">
       <button id="add" type="button" class="btn btn-default"  data-toggle="modal" data-target="#myModal" style="width:200px" >添加</button>
       <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <h4 class="modal-title" id="myModalLabel">新增url模拟返回信息</h4>
                       <span id="closeLeftUpper">X</span>
                   </div>
                   <form>
                   <div class="modal-body">
                           <div class="form-group">
                               <label for="inputfile">地址:</label>
                               <input type="text" name="url"  style="width: 500px;">
                           </div>
                           <div class="form-group">
                               <label for="inputfile">请求方式:</label>
                               <select  name="httpMethod"  style="width:200px;" >
                                   <option value="POST" >POST</option>
                                   <option value="GET" >GET</option>
                                   <option value="PUT" >PUT</option>
                                   <option value="DELETE" >DELETE</option>
                               </select>
                           </div>
                           <div class="form-group">
                               <label for="inputfile">请求参数位置:</label>
                               <select  name="requestContentType"  style="width:200px;" >
                                   <option value="BODY" >BODY</option>
                                   <option value="FORM" >FORM</option>
                                   <option value="URL_ATTACH" >URL_ATTACH</option>
                               </select>
                           </div>
                           <div class="form-group">
                               <label for="inputfile">请求内容预处理脚本:</label>
                               <textarea cols="50" rows="10" name="preRequestScript"></textarea>
                           </div>
                           <div class="form-group">
                               <label for="inputfile">响应内容格式:</label>
                               <select  name="responseContentType"  style="width:200px;" >
                                   <option value="HTML">HTML</option>
                                   <option value="STRING">STRING</option>
                                   <option value="JSON_STRING">JSON_STRING</option>
                                   <option value="XML">XML</option>
                               </select>
                           </div>
                           <div class="form-group">
                               <label for="inputfile">响应内容:</label>
                               <textarea cols="50" rows="10" name="responseContent"></textarea>
                           </div>
                           <div class="form-group">
                               <label for="inputfile">响应内容预处理脚本:</label>
                               <textarea cols="50" rows="10" name="preResponseScript" ></textarea>
                           </div>
                   </div>
                   <div class="modal-footer">
                       <button type="button" id="close" class="btn btn-default" data-dismiss="modal">关闭</button>
                       <button type="button" id="doAdd" class="btn btn-primary">添加</button>
                   </div>
                   </form>
               </div><!-- /.modal-content -->
           </div><!-- /.modal -->
       </div>
       #foreach( $requestInfo in $requestMetaInfos)
           <li class="list-group-item"><a href="/admin/requestmeta/$requestInfo.id"> $requestInfo.url</a></li>
       #end
   </ul>
</body>
</html>